@font-face{font-family:'icomoon';src:url("");src:url("") format('embedded-opentype'), url("") format('truetype'), url("") format('woff'), url("") format('svg');font-weight:normal;font-style:normal;}
[class^="wpr-icon-"], [class*=" wpr-icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.wpr-icon-store:before{content:"\e900";}
.wpr-icon-cart2:before{content:"\e901";}
.wpr-icon-basket:before{content:"\e902";}
.wpr-icon-cart:before{content:"\e93a";}
.wpr-icon-x:before{content:"\e687";}
.wpr-icon-rss:before{content:"\e600";}
.wpr-icon-rss-alt:before{content:"\e68c";}
.wpr-icon-mail:before{content:"\e68d";}
.wpr-icon-plus:before{content:"\e601";}
.wpr-icon-minus:before{content:"\e602";}
.wpr-icon-magnifying-glass:before{content:"\e603";}
.wpr-icon-instagram:before{content:"\e688";}
.wpr-icon-grid:before{content:"\e604";}
.wpr-icon-search:before{content:"\e605";}
.wpr-icon-twitter:before{content:"\e606";}
.wpr-icon-plus2:before{content:"\e607";}
.wpr-icon-minus2:before{content:"\e608";}
.wpr-icon-search2:before{content:"\e609";}
.wpr-icon-feed:before{content:"\e60a";}
.wpr-icon-cancel:before{content:"\e60b";}
.wpr-icon-home:before{content:"\e60c";}
.wpr-icon-home2:before{content:"\e60d";}
.wpr-icon-search3:before{content:"\e689";}
.wpr-icon-menu:before{content:"\e60e";}
.wpr-icon-point-right:before{content:"\e60f";}
.wpr-icon-point-down:before{content:"\e610";}
.wpr-icon-close:before{content:"\e611";}
.wpr-icon-minus3:before{content:"\e612";}
.wpr-icon-plus3:before{content:"\e613";}
.wpr-icon-arrow-right:before{content:"\e614";}
.wpr-icon-arrow-down:before{content:"\e615";}
.wpr-icon-arrow-right2:before{content:"\e616";}
.wpr-icon-arrow-down2:before{content:"\e617";}
.wpr-icon-arrow-right3:before{content:"\e618";}
.wpr-icon-arrow-down3:before{content:"\e619";}
.wpr-icon-paragraph-justify:before{content:"\e61a";}
.wpr-icon-paragraph-justify2:before{content:"\e61b";}
.wpr-icon-mail2:before{content:"\e61c";}
.wpr-icon-google:before{content:"\e61d";}
.wpr-icon-googleplus:before{content:"\e61e";}
.wpr-icon-googleplus2:before{content:"\e61f";}
.wpr-icon-googleplus3:before{content:"\e620";}
.wpr-icon-googleplus4:before{content:"\e621";}
.wpr-icon-facebook:before{content:"\e622";}
.wpr-icon-facebook2:before{content:"\e623";}
.wpr-icon-facebook3:before{content:"\e624";}
.wpr-icon-instagram2:before{content:"\e68a";}
.wpr-icon-twitter2:before{content:"\e625";}
.wpr-icon-twitter3:before{content:"\e626";}
.wpr-icon-twitter4:before{content:"\e627";}
.wpr-icon-feed2:before{content:"\e628";}
.wpr-icon-feed3:before{content:"\e629";}
.wpr-icon-feed4:before{content:"\e62a";}
.wpr-icon-vimeo:before{content:"\e62b";}
.wpr-icon-vimeo2:before{content:"\e62c";}
.wpr-icon-vimeo3:before{content:"\e62d";}
.wpr-icon-flickr:before{content:"\e62e";}
.wpr-icon-flickr2:before{content:"\e62f";}
.wpr-icon-flickr3:before{content:"\e630";}
.wpr-icon-flickr4:before{content:"\e631";}
.wpr-icon-deviantart:before{content:"\e632";}
.wpr-icon-deviantart2:before{content:"\e633";}
.wpr-icon-github:before{content:"\e634";}
.wpr-icon-github2:before{content:"\e635";}
.wpr-icon-github3:before{content:"\e636";}
.wpr-icon-github4:before{content:"\e637";}
.wpr-icon-github5:before{content:"\e638";}
.wpr-icon-tumblr:before{content:"\e639";}
.wpr-icon-tumblr2:before{content:"\e63a";}
.wpr-icon-skype:before{content:"\e63b";}
.wpr-icon-linkedin:before{content:"\e63c";}
.wpr-icon-pinterest:before{content:"\e63d";}
.wpr-icon-pinterest2:before{content:"\e63e";}
.wpr-icon-search32:before{content:"\e63f";}
.wpr-icon-basket2:before{content:"\e903";}
.wpr-icon-basket3:before{content:"\e027";}
.wpr-icon-magnifying-glass2:before{content:"\e037";}
.wpr-icon-facebook5:before{content:"\e05d";}
.wpr-icon-twitter5:before{content:"\e05e";}
.wpr-icon-googleplus5:before{content:"\e05f";}
.wpr-icon-rss2:before{content:"\e060";}
.wpr-icon-tumblr3:before{content:"\e061";}
.wpr-icon-linkedin2:before{content:"\e062";}
.wpr-icon-dribbble:before{content:"\e063";}
.wpr-icon-plus5:before{content:"\e656";}
.wpr-icon-plus6:before{content:"\e657";}
.wpr-icon-minus5:before{content:"\e658";}
.wpr-icon-minus6:before{content:"\e659";}
.wpr-icon-cancel2:before{content:"\e65a";}
.wpr-icon-magnifier:before{content:"\e65b";}
.wpr-icon-grid3:before{content:"\e65c";}
.wpr-icon-grid4:before{content:"\e65d";}
.wpr-icon-list:before{content:"\e65e";}
.wpr-icon-add:before{content:"\e65f";}
.wpr-icon-minus7:before{content:"\e660";}
.wpr-icon-search7:before{content:"\e661";}
.wpr-icon-shopping-bag2:before{content:"\e904";}
.wpr-icon-shopping-cart2:before{content:"\e905";}
.wpr-icon-add_shopping_cart:before{content:"\e854";}
.wpr-icon-shopping_cart:before{content:"\e8cc";}
.wpr-icon-remove_shopping_cart:before{content:"\e928";}
.wpr-icon-shopping_basket:before{content:"\e8cb";}
.wpr-icon-align-justify:before{content:"\e026";}
.wpr-icon-search5:before{content:"\e036";}
.wpr-icon-circle-plus:before{content:"\e040";}
.wpr-icon-circle-minus:before{content:"\e041";}
.wpr-icon-square-plus:before{content:"\e044";}
.wpr-icon-square-minus:before{content:"\e045";}
.wpr-icon-arrow-right4:before{content:"\e095";}
.wpr-icon-arrow-down4:before{content:"\e097";}
.wpr-icon-grid2:before{content:"\e102";}
.wpr-icon-cross:before{content:"\e117";}
.wpr-icon-menu2:before{content:"\e120";}
.wpr-icon-ellipsis:before{content:"\e129";}
.wpr-icon-times:before{content:"\e647";}
.wpr-icon-plus4:before{content:"\e648";}
.wpr-icon-minus4:before{content:"\e649";}
.wpr-icon-arrow-right-thick:before{content:"\e64a";}
.wpr-icon-th-menu:before{content:"\e64b";}
.wpr-icon-arrow-down-thick:before{content:"\e64c";}
.wpr-icon-times-outline:before{content:"\e64d";}
.wpr-icon-plus-outline:before{content:"\e64e";}
.wpr-icon-minus-outline:before{content:"\e64f";}
.wpr-icon-th-small-outline:before{content:"\e650";}
.wpr-icon-th-menu-outline:before{content:"\e651";}
.wpr-icon-zoom-outline:before{content:"\e652";}
.wpr-icon-arrow-down5:before{content:"\e653";}
.wpr-icon-arrow-right5:before{content:"\e654";}
.wpr-icon-search6:before{content:"\e655";}
.wpr-icon-shopping-cart:before{content:"\f07a";}
.wpr-icon-cart-plus:before{content:"\f217";}
.wpr-icon-cart-arrow-down:before{content:"\f218";}
.wpr-icon-shopping-bag:before{content:"\f290";}
.wpr-icon-shopping-basket:before{content:"\f291";}
.wpr-icon-search9:before{content:"\f002";}
.wpr-icon-envelope-o:before{content:"\f003";}
.wpr-icon-th-large:before{content:"\f009";}
.wpr-icon-th:before{content:"\f00a";}
.wpr-icon-th-list:before{content:"\f00b";}
.wpr-icon-times2:before{content:"\f00d";}
.wpr-icon-home3:before{content:"\f015";}
.wpr-icon-align-justify2:before{content:"\f039";}
.wpr-icon-chevron-right:before{content:"\f054";}
.wpr-icon-plus-circle:before{content:"\f055";}
.wpr-icon-minus-circle:before{content:"\f056";}
.wpr-icon-arrow-right6:before{content:"\f061";}
.wpr-icon-arrow-down6:before{content:"\f063";}
.wpr-icon-plus7:before{content:"\f067";}
.wpr-icon-minus8:before{content:"\f068";}
.wpr-icon-chevron-down:before{content:"\f078";}
.wpr-icon-twitter-square:before{content:"\f081";}
.wpr-icon-facebook-square:before{content:"\f082";}
.wpr-icon-linkedin-square:before{content:"\f08c";}
.wpr-icon-github-square:before{content:"\f092";}
.wpr-icon-twitter6:before{content:"\f099";}
.wpr-icon-facebook6:before{content:"\f09a";}
.wpr-icon-github6:before{content:"\f09b";}
.wpr-icon-hand-o-right:before{content:"\f0a4";}
.wpr-icon-hand-o-down:before{content:"\f0a7";}
.wpr-icon-arrow-circle-right:before{content:"\f0a9";}
.wpr-icon-arrow-circle-down:before{content:"\f0ab";}
.wpr-icon-tasks:before{content:"\f0ae";}
.wpr-icon-bars:before{content:"\f0c9";}
.wpr-icon-pinterest3:before{content:"\f0d2";}
.wpr-icon-pinterest-square:before{content:"\f0d3";}
.wpr-icon-google-plus-square:before{content:"\f0d4";}
.wpr-icon-google-plus:before{content:"\f0d5";}
.wpr-icon-envelope:before{content:"\f0e0";}
.wpr-icon-linkedin3:before{content:"\f0e1";}
.wpr-icon-angle-double-right:before{content:"\f101";}
.wpr-icon-angle-double-down:before{content:"\f103";}
.wpr-icon-angle-right:before{content:"\f105";}
.wpr-icon-angle-down:before{content:"\f107";}
.wpr-icon-github-alt:before{content:"\f113";}
.wpr-icon-ellipsis-h:before{content:"\f141";}
.wpr-icon-rss-square:before{content:"\f143";}
.wpr-icon-toggle-down:before{content:"\f150";}
.wpr-icon-toggle-right:before{content:"\f152";}
.wpr-icon-youtube-square:before{content:"\f166";}
.wpr-icon-youtube:before{content:"\f167";}
.wpr-icon-instagram3:before{content:"\f16d";}
.wpr-icon-apple:before{content:"\f179";}
.wpr-icon-android:before{content:"\f17b";}
.wpr-icon-skype2:before{content:"\f17e";}
.wpr-icon-vimeo-square:before{content:"\f194";}
.wpr-icon-cart3:before{content:"\e906";}
.wpr-icon-bag:before{content:"\e907";}
.wpr-icon-facebook4:before{content:"\e640";}
.wpr-icon-twitter-old:before{content:"\e641";}
.wpr-icon-feed5:before{content:"\e642";}
.wpr-icon-bird:before{content:"\e643";}
.wpr-icon-search4:before{content:"\e644";}
.wpr-icon-pointer:before{content:"\e645";}
.wpr-icon-pointer2:before{content:"\e646";}
.wpr-icon-shopping-bag3:before{content:"\e908";}
.wpr-icon-shopping-basket2:before{content:"\e909";}
.wpr-icon-shopping-cart3:before{content:"\e90a";}
.wpr-icon-search10:before{content:"\e68b";}
.wpr-icon-cross2:before{content:"\e663";}
.wpr-icon-minus9:before{content:"\e664";}
.wpr-icon-plus8:before{content:"\e665";}
.wpr-icon-layout:before{content:"\e666";}
.wpr-icon-list2:before{content:"\e667";}
.wpr-icon-video:before{content:"\e668";}
.wpr-icon-arrow-down7:before{content:"\e669";}
.wpr-icon-arrow-right7:before{content:"\e66a";}
.wpr-icon-arrow-down8:before{content:"\e66b";}
.wpr-icon-arrow-right8:before{content:"\e66c";}
.wpr-icon-arrow-down9:before{content:"\e66d";}
.wpr-icon-arrow-right9:before{content:"\e66e";}
.wpr-icon-arrow-down10:before{content:"\e66f";}
.wpr-icon-arrow-right10:before{content:"\e670";}
.wpr-icon-arrow-down11:before{content:"\e671";}
.wpr-icon-uniE672:before{content:"\e672";}
.wpr-icon-arrow-right11:before{content:"\e673";}
.wpr-icon-github62:before{content:"\e674";}
.wpr-icon-flickr5:before{content:"\e675";}
.wpr-icon-flickr6:before{content:"\e676";}
.wpr-icon-vimeo4:before{content:"\e677";}
.wpr-icon-vimeo5:before{content:"\e678";}
.wpr-icon-twitter7:before{content:"\e679";}
.wpr-icon-facebook7:before{content:"\e67a";}
.wpr-icon-facebook8:before{content:"\e67b";}
.wpr-icon-facebook9:before{content:"\e67c";}
.wpr-icon-googleplus6:before{content:"\e67d";}
.wpr-icon-googleplus7:before{content:"\e67e";}
.wpr-icon-pinterest4:before{content:"\e67f";}
.wpr-icon-pinterest5:before{content:"\e680";}
.wpr-icon-tumblr4:before{content:"\e681";}
.wpr-icon-linkedin4:before{content:"\e682";}
.wpr-icon-linkedin5:before{content:"\e683";}
.wpr-icon-instagram4:before{content:"\e684";}
.wpr-icon-skype3:before{content:"\e685";}
.wpr-icon-skype4:before{content:"\e686";}
.wpr-icon-cart4:before{content:"\e90b";}
.wpr-icon-search8:before {
content: "\e662";
}.wp-pagenavi{clear:both;}
.wp-pagenavi a, .wp-pagenavi span{text-decoration:none;border:1px solid #BFBFBF;padding:3px 5px;margin:2px;}
.wp-pagenavi a:hover, .wp-pagenavi span.current{border-color:#000;}
.wp-pagenavi span.current {
font-weight: bold;
}.noscroll{position:fixed;overflow-y:scroll;}
.hide{display:none;}
#overlay-sidebar-bg{background:none repeat scroll 0 0 #000000;bottom:0;left:0;opacity:0.5;position:fixed;right:0;top:0;z-index:1000000;}
#overlay-sidebar, 
#slide-sidebar{background-color:#FFFFFF;box-shadow:0 3px 6px rgba(0, 0, 0, 0.3);overflow:hidden;padding:40px 20px 0;position:fixed;width:380px;z-index:1000001;}
#overlay-sidebar{left:50%;margin:0 0 0 -190px;top:-10000px;}
#slide-sidebar{right:-423px;bottom:100px;}
#overlay-sidebar .widget{}
#overlay-sidebar-wrap .overlay-sidebar-close, 
#slide-sidebar .slide-sidebar-close{position:absolute;top:8px;right:8px;height:22px;width:22px;cursor:pointer;}
#overlay-sidebar-wrap .overlay-sidebar-close:before,
#slide-sidebar .slide-sidebar-close:before{content:'\f158';display:block !important;font:normal 20px/1 'dashicons';speak:none;height:22px;margin:2px 0;text-align:center;width:22px;color:#777;-webkit-font-smoothing:antialiased !important;}
#overlay-sidebar-wrap .overlay-sidebar-close:hover:before,
#slide-sidebar .slide-sidebar-close:hover:before{color:#0074a2;}
#overlay-sidebar-wrap .overlay-sidebar-close:focus,
#slide-sidebar .slide-sidebar-close:focus{outline:1px dotted #888;}
.overlay_sidebar_class .widget .widget-title,
.slide_sidebar_class .widget .widget-title{border-top:5px solid #000000;color:#2B2B2B;font-size:14px;font-weight:900;font-style:normal;margin:0 0 18px;padding-top:7px;text-transform:uppercase;}
.overlay_sidebar_class .widget li ,
.slide_sidebar_class .widget li{border-top:1px solid rgba(255, 255, 255, 0.2);padding:8px 0 9px;}
.overlay_sidebar_class .widget li ,
.slide_sidebar_class .widget li{border-color:rgba(0, 0, 0, 0.1);}
.overlay_sidebar_class .widget,
.slide_sidebar_class .widget{line-height:16px;margin-bottom:40px;width:100%;padding:0;background-color:#FFFFFF;}
.overlay_sidebar_class .widget a,
.slide_sidebar_class .widget a{color:#24890D;text-decoration:none;}
.overlay_sidebar_class,
.slide_sidebar_class{color:#767676;}
.vk_widget_group_wrap,
.vk_widget_group_wrap{width:100%;}
#before-post-content-sidebar,
#after-post-content-sidebar{position:relative;width:100%;float:none;}
#before-post-content-sidebar:after,
#after-post-content-sidebar:after{clear:both;}
#before-post-content-sidebar:before, 
#before-post-content-sidebar:after,
#after-post-content-sidebar:before, 
#after-post-content-sidebar:after{content:"";display:table;}
.evc-comments-wrap{position:relative;overflow:hidden;}
.widget .vk_poll .vk_widget_polls,
.vk_widget_polls {
margin-bottom:20px;
}@font-face{font-family:dashicons;src:url("")}
@font-face{font-family:dashicons;src:url("") format('woff'),url("") format("truetype"),url("") format("svg");font-weight:400;font-style:normal}
.dashicons,.dashicons-before:before{display:inline-block;width:20px;height:20px;font-size:20px;line-height:1;font-family:dashicons;text-decoration:inherit;font-weight:400;font-style:normal;vertical-align:top;text-align:center;transition:color .1s ease-in 0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.dashicons-menu:before{content:"\f333"}
.dashicons-admin-site:before{content:"\f319"}
.dashicons-dashboard:before{content:"\f226"}
.dashicons-admin-media:before{content:"\f104"}
.dashicons-admin-page:before{content:"\f105"}
.dashicons-admin-comments:before{content:"\f101"}
.dashicons-admin-appearance:before{content:"\f100"}
.dashicons-admin-plugins:before{content:"\f106"}
.dashicons-admin-users:before{content:"\f110"}
.dashicons-admin-tools:before{content:"\f107"}
.dashicons-admin-settings:before{content:"\f108"}
.dashicons-admin-network:before{content:"\f112"}
.dashicons-admin-generic:before{content:"\f111"}
.dashicons-admin-home:before{content:"\f102"}
.dashicons-admin-collapse:before{content:"\f148"}
.dashicons-filter:before{content:"\f536"}
.dashicons-admin-customizer:before{content:"\f540"}
.dashicons-admin-multisite:before{content:"\f541"}
.dashicons-admin-links:before,.dashicons-format-links:before{content:"\f103"}
.dashicons-admin-post:before,.dashicons-format-standard:before{content:"\f109"}
.dashicons-format-image:before{content:"\f128"}
.dashicons-format-gallery:before{content:"\f161"}
.dashicons-format-audio:before{content:"\f127"}
.dashicons-format-video:before{content:"\f126"}
.dashicons-format-chat:before{content:"\f125"}
.dashicons-format-status:before{content:"\f130"}
.dashicons-format-aside:before{content:"\f123"}
.dashicons-format-quote:before{content:"\f122"}
.dashicons-welcome-edit-page:before,.dashicons-welcome-write-blog:before{content:"\f119"}
.dashicons-welcome-add-page:before{content:"\f133"}
.dashicons-welcome-view-site:before{content:"\f115"}
.dashicons-welcome-widgets-menus:before{content:"\f116"}
.dashicons-welcome-comments:before{content:"\f117"}
.dashicons-welcome-learn-more:before{content:"\f118"}
.dashicons-image-crop:before{content:"\f165"}
.dashicons-image-rotate:before{content:"\f531"}
.dashicons-image-rotate-left:before{content:"\f166"}
.dashicons-image-rotate-right:before{content:"\f167"}
.dashicons-image-flip-vertical:before{content:"\f168"}
.dashicons-image-flip-horizontal:before{content:"\f169"}
.dashicons-image-filter:before{content:"\f533"}
.dashicons-undo:before{content:"\f171"}
.dashicons-redo:before{content:"\f172"}
.dashicons-editor-bold:before{content:"\f200"}
.dashicons-editor-italic:before{content:"\f201"}
.dashicons-editor-ul:before{content:"\f203"}
.dashicons-editor-ol:before{content:"\f204"}
.dashicons-editor-quote:before{content:"\f205"}
.dashicons-editor-alignleft:before{content:"\f206"}
.dashicons-editor-aligncenter:before{content:"\f207"}
.dashicons-editor-alignright:before{content:"\f208"}
.dashicons-editor-insertmore:before{content:"\f209"}
.dashicons-editor-spellcheck:before{content:"\f210"}
.dashicons-editor-distractionfree:before,.dashicons-editor-expand:before{content:"\f211"}
.dashicons-editor-contract:before{content:"\f506"}
.dashicons-editor-kitchensink:before{content:"\f212"}
.dashicons-editor-underline:before{content:"\f213"}
.dashicons-editor-justify:before{content:"\f214"}
.dashicons-editor-textcolor:before{content:"\f215"}
.dashicons-editor-paste-word:before{content:"\f216"}
.dashicons-editor-paste-text:before{content:"\f217"}
.dashicons-editor-removeformatting:before{content:"\f218"}
.dashicons-editor-video:before{content:"\f219"}
.dashicons-editor-customchar:before{content:"\f220"}
.dashicons-editor-outdent:before{content:"\f221"}
.dashicons-editor-indent:before{content:"\f222"}
.dashicons-editor-help:before{content:"\f223"}
.dashicons-editor-strikethrough:before{content:"\f224"}
.dashicons-editor-unlink:before{content:"\f225"}
.dashicons-editor-rtl:before{content:"\f320"}
.dashicons-editor-break:before{content:"\f474"}
.dashicons-editor-code:before{content:"\f475"}
.dashicons-editor-paragraph:before{content:"\f476"}
.dashicons-editor-table:before{content:"\f535"}
.dashicons-align-left:before{content:"\f135"}
.dashicons-align-right:before{content:"\f136"}
.dashicons-align-center:before{content:"\f134"}
.dashicons-align-none:before{content:"\f138"}
.dashicons-lock:before{content:"\f160"}
.dashicons-unlock:before{content:"\f528"}
.dashicons-calendar:before{content:"\f145"}
.dashicons-calendar-alt:before{content:"\f508"}
.dashicons-visibility:before{content:"\f177"}
.dashicons-hidden:before{content:"\f530"}
.dashicons-post-status:before{content:"\f173"}
.dashicons-edit:before{content:"\f464"}
.dashicons-post-trash:before,.dashicons-trash:before{content:"\f182"}
.dashicons-sticky:before{content:"\f537"}
.dashicons-external:before{content:"\f504"}
.dashicons-arrow-up:before{content:"\f142"}
.dashicons-arrow-down:before{content:"\f140"}
.dashicons-arrow-left:before{content:"\f141"}
.dashicons-arrow-right:before{content:"\f139"}
.dashicons-arrow-up-alt:before{content:"\f342"}
.dashicons-arrow-down-alt:before{content:"\f346"}
.dashicons-arrow-left-alt:before{content:"\f340"}
.dashicons-arrow-right-alt:before{content:"\f344"}
.dashicons-arrow-up-alt2:before{content:"\f343"}
.dashicons-arrow-down-alt2:before{content:"\f347"}
.dashicons-arrow-left-alt2:before{content:"\f341"}
.dashicons-arrow-right-alt2:before{content:"\f345"}
.dashicons-leftright:before{content:"\f229"}
.dashicons-sort:before{content:"\f156"}
.dashicons-randomize:before{content:"\f503"}
.dashicons-list-view:before{content:"\f163"}
.dashicons-excerpt-view:before,.dashicons-exerpt-view:before{content:"\f164"}
.dashicons-grid-view:before{content:"\f509"}
.dashicons-move:before{content:"\f545"}
.dashicons-hammer:before{content:"\f308"}
.dashicons-art:before{content:"\f309"}
.dashicons-migrate:before{content:"\f310"}
.dashicons-performance:before{content:"\f311"}
.dashicons-universal-access:before{content:"\f483"}
.dashicons-universal-access-alt:before{content:"\f507"}
.dashicons-tickets:before{content:"\f486"}
.dashicons-nametag:before{content:"\f484"}
.dashicons-clipboard:before{content:"\f481"}
.dashicons-heart:before{content:"\f487"}
.dashicons-megaphone:before{content:"\f488"}
.dashicons-schedule:before{content:"\f489"}
.dashicons-wordpress:before{content:"\f120"}
.dashicons-wordpress-alt:before{content:"\f324"}
.dashicons-pressthis:before{content:"\f157"}
.dashicons-update:before{content:"\f463"}
.dashicons-screenoptions:before{content:"\f180"}
.dashicons-cart:before{content:"\f174"}
.dashicons-feedback:before{content:"\f175"}
.dashicons-cloud:before{content:"\f176"}
.dashicons-translation:before{content:"\f326"}
.dashicons-tag:before{content:"\f323"}
.dashicons-category:before{content:"\f318"}
.dashicons-archive:before{content:"\f480"}
.dashicons-tagcloud:before{content:"\f479"}
.dashicons-text:before{content:"\f478"}
.dashicons-media-archive:before{content:"\f501"}
.dashicons-media-audio:before{content:"\f500"}
.dashicons-media-code:before{content:"\f499"}
.dashicons-media-default:before{content:"\f498"}
.dashicons-media-document:before{content:"\f497"}
.dashicons-media-interactive:before{content:"\f496"}
.dashicons-media-spreadsheet:before{content:"\f495"}
.dashicons-media-text:before{content:"\f491"}
.dashicons-media-video:before{content:"\f490"}
.dashicons-playlist-audio:before{content:"\f492"}
.dashicons-playlist-video:before{content:"\f493"}
.dashicons-controls-play:before{content:"\f522"}
.dashicons-controls-pause:before{content:"\f523"}
.dashicons-controls-forward:before{content:"\f519"}
.dashicons-controls-skipforward:before{content:"\f517"}
.dashicons-controls-back:before{content:"\f518"}
.dashicons-controls-skipback:before{content:"\f516"}
.dashicons-controls-repeat:before{content:"\f515"}
.dashicons-controls-volumeon:before{content:"\f521"}
.dashicons-controls-volumeoff:before{content:"\f520"}
.dashicons-yes:before{content:"\f147"}
.dashicons-no:before{content:"\f158"}
.dashicons-no-alt:before{content:"\f335"}
.dashicons-plus:before{content:"\f132"}
.dashicons-plus-alt:before{content:"\f502"}
.dashicons-plus-alt2:before{content:"\f543"}
.dashicons-minus:before{content:"\f460"}
.dashicons-dismiss:before{content:"\f153"}
.dashicons-marker:before{content:"\f159"}
.dashicons-star-filled:before{content:"\f155"}
.dashicons-star-half:before{content:"\f459"}
.dashicons-star-empty:before{content:"\f154"}
.dashicons-flag:before{content:"\f227"}
.dashicons-info:before{content:"\f348"}
.dashicons-warning:before{content:"\f534"}
.dashicons-share:before{content:"\f237"}
.dashicons-share1:before{content:"\f237"}
.dashicons-share-alt:before{content:"\f240"}
.dashicons-share-alt2:before{content:"\f242"}
.dashicons-twitter:before{content:"\f301"}
.dashicons-rss:before{content:"\f303"}
.dashicons-email:before{content:"\f465"}
.dashicons-email-alt:before{content:"\f466"}
.dashicons-facebook:before{content:"\f304"}
.dashicons-facebook-alt:before{content:"\f305"}
.dashicons-networking:before{content:"\f325"}
.dashicons-googleplus:before{content:"\f462"}
.dashicons-location:before{content:"\f230"}
.dashicons-location-alt:before{content:"\f231"}
.dashicons-camera:before{content:"\f306"}
.dashicons-images-alt:before{content:"\f232"}
.dashicons-images-alt2:before{content:"\f233"}
.dashicons-video-alt:before{content:"\f234"}
.dashicons-video-alt2:before{content:"\f235"}
.dashicons-video-alt3:before{content:"\f236"}
.dashicons-vault:before{content:"\f178"}
.dashicons-shield:before{content:"\f332"}
.dashicons-shield-alt:before{content:"\f334"}
.dashicons-sos:before{content:"\f468"}
.dashicons-search:before{content:"\f179"}
.dashicons-slides:before{content:"\f181"}
.dashicons-analytics:before{content:"\f183"}
.dashicons-chart-pie:before{content:"\f184"}
.dashicons-chart-bar:before{content:"\f185"}
.dashicons-chart-line:before{content:"\f238"}
.dashicons-chart-area:before{content:"\f239"}
.dashicons-groups:before{content:"\f307"}
.dashicons-businessman:before{content:"\f338"}
.dashicons-id:before{content:"\f336"}
.dashicons-id-alt:before{content:"\f337"}
.dashicons-products:before{content:"\f312"}
.dashicons-awards:before{content:"\f313"}
.dashicons-forms:before{content:"\f314"}
.dashicons-testimonial:before{content:"\f473"}
.dashicons-portfolio:before{content:"\f322"}
.dashicons-book:before{content:"\f330"}
.dashicons-book-alt:before{content:"\f331"}
.dashicons-download:before{content:"\f316"}
.dashicons-upload:before{content:"\f317"}
.dashicons-backup:before{content:"\f321"}
.dashicons-clock:before{content:"\f469"}
.dashicons-lightbulb:before{content:"\f339"}
.dashicons-microphone:before{content:"\f482"}
.dashicons-desktop:before{content:"\f472"}
.dashicons-laptop:before{content:"\f547"}
.dashicons-tablet:before{content:"\f471"}
.dashicons-smartphone:before{content:"\f470"}
.dashicons-phone:before{content:"\f525"}
.dashicons-smiley:before{content:"\f328"}
.dashicons-index-card:before{content:"\f510"}
.dashicons-carrot:before{content:"\f511"}
.dashicons-building:before{content:"\f512"}
.dashicons-store:before{content:"\f513"}
.dashicons-album:before{content:"\f514"}
.dashicons-palmtree:before{content:"\f527"}
.dashicons-tickets-alt:before{content:"\f524"}
.dashicons-money:before{content:"\f526"}
.dashicons-thumbs-up:before{content:"\f529"}
.dashicons-thumbs-down:before{content:"\f542"}
.dashicons-layout:before{content:"\f538"}
.dashicons-paperclip:before{content:"\f546"}div.spoiler-body{padding:1px;margin:0;padding:0;}
div.spoiler-body p, div.spoiler-body div{padding:2px 1px;margin:1px;}
a.spoiler-tgl{padding:2px 4px 2px 22px;background-image:url("");background-position:3px 3px;background-repeat:no-repeat;border-bottom:1px dotted #999;margin:0;}
a:hover.spoiler-tgl{border-color:#696969;}
a.spoiler-tgl.collapsed{background-position:3px -36px;}
.effcollapse{padding-left:16px !important;background-image:url("");background-position:0 2px;background-repeat:no-repeat;cursor:pointer;}
.effcollapse.collapsed{background-position:0 -37px;}
.spoiler_outer_box { overflow: hidden !important;
margin: 0 !important;
padding: 0 !important;
}